.footer {
  background: #6956af;
  height: 100px;
  position: relative;
  color: rgb(0, 221, 255);
  overflow: auto;
}

.footer > .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5138a1;
  padding: 8px;
  font-weight: 600;
}

.footer > .bottom > img {
  width: 20px;
  position: relative;
  top: 3px;
  left: 2px;
}
